/**
 * The following styles get applied inside the editor only.
 */

.wp-block-myblocktheme-halloween-clock {
	border: 2px solid #ff6600;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(255, 102, 0, 0.7);
	width: 90%;
    max-width: 100%;
}
